Suite Pandas

In [1]:
import pandas as pd

In [10]:
%mkdir dossier

In [9]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %popd  %pprint  %precision  %profile  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [22]:
df=pd.read_clipboard()

In [23]:
df.shape

(20, 7)

In [24]:
df.to_csv("AAPL.csv",index=False)

In [28]:
# pd.read_csv("https://raw.githubusercontent.com/nmeraihi/data/master/AAPL_month.csv")

Aujourd'hui je veux relire le fichier AAPL que j'ai créé la derniere fois

In [94]:
df=pd.read_csv("AAPL.csv")

In [39]:
df.head()

           Date    Open    High     Low  Close*  Adj Close**      Volume
0  Apr 10, 2019  200.32  199.19  198.60  198.83       198.83   1,100,223
1  Apr 09, 2019  200.32  202.85  199.23  199.50       199.50  35,750,400
2  Apr 08, 2019  196.42  200.23  196.34  200.10       200.10  25,881,700
3  Apr 05, 2019  196.45  197.10  195.93  197.00       197.00  18,526,600
4  Apr 04, 2019  194.79  196.37  193.14  195.69       195.69  19,114,300

In [34]:
# !pip install pandas_datareader.data

In [35]:
# import pandas_datareader.data as

In [36]:
# import pandas_datareader.data as web

In [40]:
df.head()

           Date    Open    High     Low  Close*  Adj Close**      Volume
0  Apr 10, 2019  200.32  199.19  198.60  198.83       198.83   1,100,223
1  Apr 09, 2019  200.32  202.85  199.23  199.50       199.50  35,750,400
2  Apr 08, 2019  196.42  200.23  196.34  200.10       200.10  25,881,700
3  Apr 05, 2019  196.45  197.10  195.93  197.00       197.00  18,526,600
4  Apr 04, 2019  194.79  196.37  193.14  195.69       195.69  19,114,300

In [44]:
df.High.head() # selectionner la colonne

0    199.19
1    202.85
2    200.23
3    197.10
4    196.37
Name: High, dtype: float64

In [46]:
df["High"].head()

0    199.19
1    202.85
2    200.23
3    197.10
4    196.37
Name: High, dtype: float64

In [50]:
df2=df[["Open", "Low"]]

In [51]:
df.head()

           Date    Open    High     Low  Close*  Adj Close**      Volume
0  Apr 10, 2019  200.32  199.19  198.60  198.83       198.83   1,100,223
1  Apr 09, 2019  200.32  202.85  199.23  199.50       199.50  35,750,400
2  Apr 08, 2019  196.42  200.23  196.34  200.10       200.10  25,881,700
3  Apr 05, 2019  196.45  197.10  195.93  197.00       197.00  18,526,600
4  Apr 04, 2019  194.79  196.37  193.14  195.69       195.69  19,114,300

In [52]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close*', 'Adj Close**', 'Volume'], dtype='object')

In [56]:
maliste=list(df.columns)
maliste

['Date', 'Open', 'High', 'Low', 'Close*', 'Adj Close**', 'Volume']

In [59]:
maliste[4:6]=['Close', 'Adj Close']

In [60]:
df.columns=maliste

In [61]:
df.head()

           Date    Open    High     Low   Close  Adj Close      Volume
0  Apr 10, 2019  200.32  199.19  198.60  198.83     198.83   1,100,223
1  Apr 09, 2019  200.32  202.85  199.23  199.50     199.50  35,750,400
2  Apr 08, 2019  196.42  200.23  196.34  200.10     200.10  25,881,700
3  Apr 05, 2019  196.45  197.10  195.93  197.00     197.00  18,526,600
4  Apr 04, 2019  194.79  196.37  193.14  195.69     195.69  19,114,300

In [62]:
maliste[5]

'Adj Close'

In [66]:
maliste[5].strip()

'Adj Close'

In [70]:
toto=" allo bonjour"

In [71]:
toto.strip()

'allo bonjour'

In [72]:
toto.replace(" ", "")

'allobonjour'

In [74]:
maliste2=['Date', 'Op en', 'Hi gh', 'Low', 'Close', 'Adj Close', 'Volume']

In [75]:
import numpy as np

In [123]:
def stripCol(df, elem1, elem2):
    maliste3=[]
    for i in list(df.columns):
#         nomOrig=i
        toto=i.replace(elem1, "")
        toto=toto.replace(elem2, "")
        maliste3.append(toto)
    df.columns=maliste3
    return(df)

In [124]:
stripCol(df, elem1="*", elem2=" ")

            Date    Open    High     Low   Close  AdjClose      Volume
0   Apr 10, 2019  200.32  199.19  198.60  198.83    198.83   1,100,223
1   Apr 09, 2019  200.32  202.85  199.23  199.50    199.50  35,750,400
2   Apr 08, 2019  196.42  200.23  196.34  200.10    200.10  25,881,700
3   Apr 05, 2019  196.45  197.10  195.93  197.00    197.00  18,526,600
4   Apr 04, 2019  194.79  196.37  193.14  195.69    195.69  19,114,300
5   Apr 03, 2019  193.25  196.50  193.15  195.35    195.35  23,271,800
6   Apr 02, 2019  191.09  194.46  191.05  194.02    194.02  22,765,700
7   Apr 01, 2019  191.64  191.68  188.38  191.24    191.24  27,862,000
8   Mar 29, 2019  189.83  190.08  188.54  189.95    189.95  23,564,000
9   Mar 28, 2019  188.95  189.56  187.53  188.72    188.72  20,780,400
10  Mar 27, 2019  188.75  189.76  186.55  188.47    188.47  29,848,400
11  Mar 26, 2019  191.66  192.88  184.58  186.79    186.79  49,800,500
12  Mar 25, 2019  191.51  191.98  186.60  188.74    188.74  43,845,300
13  Mar 22, 2019  195.34  197.69  190.78  191.05    191.05  42,407,700
14  Mar 21, 2019  190.02  196.33  189.81  195.09    195.09  51,034,200
15  Mar 20, 2019  186.23  189.49  184.73  188.16    188.16  31,035,200
16  Mar 19, 2019  188.35  188.99  185.92  186.53    186.53  31,646,400
17  Mar 18, 2019  185.80  188.39  185.79  188.02    188.02  26,219,800
18  Mar 15, 2019  184.85  187.33  183.74  186.12    186.12  39,042,900
19  Mar 14, 2019  183.90  184.10  182.56  183.73    183.73  23,579,500

In [111]:
maliste3

['Date', 'Open', 'High', 'Low', 'Close', 'AdjClose', 'Volume']

In [117]:
maliste3=[]
for i in list(df.columns):
    nomOrig=i
    toto=i.replace("*", "")
    toto=toto.replace(" ", "")
    maliste3.append(toto)
#     df.columns=maliste3

In [113]:
df.columns=maliste3

In [114]:
df.head()

           Date    Open    High     Low   Close  AdjClose      Volume
0  Apr 10, 2019  200.32  199.19  198.60  198.83    198.83   1,100,223
1  Apr 09, 2019  200.32  202.85  199.23  199.50    199.50  35,750,400
2  Apr 08, 2019  196.42  200.23  196.34  200.10    200.10  25,881,700
3  Apr 05, 2019  196.45  197.10  195.93  197.00    197.00  18,526,600
4  Apr 04, 2019  194.79  196.37  193.14  195.69    195.69  19,114,300

In [2]:
# stripCol(df)

In [95]:
df.head()

           Date    Open    High     Low  Close*  Adj Close**      Volume
0  Apr 10, 2019  200.32  199.19  198.60  198.83       198.83   1,100,223
1  Apr 09, 2019  200.32  202.85  199.23  199.50       199.50  35,750,400
2  Apr 08, 2019  196.42  200.23  196.34  200.10       200.10  25,881,700
3  Apr 05, 2019  196.45  197.10  195.93  197.00       197.00  18,526,600
4  Apr 04, 2019  194.79  196.37  193.14  195.69       195.69  19,114,300

In [91]:
maliste3=[]
for i in df.columns:
    nomOrig=i
    toto=i.replace("*", "")
    toto=toto.replace(" ", "")
    maliste3.append(toto)
    print(nomOrig,toto)

Date Date
Open Open
High High
Low Low
Close* Close
Adj Close** AdjClose
Volume Volume

In [83]:
maliste3

['Date', 'Open', 'High', 'Low', 'Close', 'AdjClose', 'Volume']

In [77]:
malist_vec=np.array(maliste2)

In [ ]:
df_toto=pd.read_csv("AAPL.csv")

In [1]:
import mesScripts as moi

In [ ]:
moi.stripCol(df_toto, elem1="*", elem2=" ").head(2)

In [ ]:
df_toto[["Open", "Close"]].head(2)