In [38]:
options(repr.matrix.max.cols=8, repr.matrix.max.rows=5)

In [28]:
path<-"https://raw.githubusercontent.com/nmeraihi/data/master/"

# Question 1

## a)

Importer les données `qc_hommes_2.csv` à partir du répertoire [data github](https://github.com/nmeraihi/data) dans un _data frame_ df

In [29]:
df<-read.csv(paste(path,"qc_hommes_2.csv",sep = ""), sep=",")

In [30]:
head(df)

  age   lx
1 0 an  100000
2 1 an   99501
3 2 ans  99483
4 3 ans  99467
5 4 ans  99454
6 5 ans  99442

In [31]:
tail(df)

    age             lx
106 105 ans         96
107 106 ans         51
108 107 ans         26
109 108 ans         13
110 109 ans          6
111 110 ans et plus  3

## b)

Dans la colonne `age`, garder seulement la partie numérique. Vous devriez alors obtenir age={0,1,2 ...}

In [153]:
df$age<-gsub("ans", "", df$age)
df$age<-gsub("an", "", df$age)

## c)

À ce df, ajouter une nouvelle colonne `dx` (nombre de décès entre l'âge x et x+n). Donc dx est le nombre de décès qui surviennent dans chaque intervalle d'âge au sein d'une cohorte initiale de 100 000 naissances vivantes à l'âge 0.

$$d_x=l_x -l_{x+1}$$

In [154]:
a<-df[-nrow(df), 2]-df[-1, 2]
a<-c(a, a[length(a)])
df$dx<-a

## d)

Calculer qx (quotient de mortalité entre l'âge x et x+n). Donc qx est probabilité qu'un individu d'âge x décède avant d'atteindre l'âge x+n.

$$q_x=\frac{d_x}{l_x}$$

In [155]:
df$qx<-round(df$dx/df$lx,5)

In [156]:
head(df)

  age lx     dx  qx
1 0   100000 499 0.00499
2 1    99501  18 0.00018
3 2    99483  16 0.00016
4 3    99467  13 0.00013
5 4    99454  12 0.00012
6 5    99442  11 0.00011

## e)
Maintenant que vous avez toutes les données, on peut calculer la probabilité qu'un individu d'âge x survive jusqu'à l'âge x+n.

$$tP_x=\frac{l_{x+t}}{l_x}$$

Calculer la probabilité qu'un individu de 22 ans survive les trois prochaines années

In [159]:
age<-22
t<-3
p<-df[age+1+t,2]/df[age+1,2]
p

[1] 0.9981928

In [160]:
library(formattable)

In [161]:
percent(p)

[1] 99.82%

# Question 2

In [162]:
Id=c(1,2,3,4)
Age=c(14,12,15,10)
Sex=c('F','M','M','F')
Code=c('a','b','c','d')
df1=data.frame(Id,Age)
df2=data.frame(Id,Sex,Code)

Avec les données suivantes;

In [163]:
df1

  Id Age
1 1  14
2 2  12
3 3  15
4 4  10

In [164]:
df2

  Id Sex Code
1 1  F   a
2 2  M   b
3 3  M   c
4 4  F   d

Créer un _data frame_ `M` qui fait une jointure de `df1` et `df2`

In [165]:
M=merge(df1,df2,by='Id')
M

  Id Age Sex Code
1 1  14  F   a
2 2  12  M   b
3 3  15  M   c
4 4  10  F   d

# Question 3

Selon un [journaliste de la CNBC](https://www.cnbc.com/video/3000418698), le prix de l'action de Apple [(AAPL)](https://ca.finance.yahoo.com/quote/AAPL/history?p=AAPL) est très corrélé avec le prix de l'action de [Boeing Co (BA)](https://ca.finance.yahoo.com/quote/BA/history?p=BA). 

Calculer la corrélation des prix Adj Close **mensuels** de ces deux compagnies sur la période allant du 2016-11-01 au 2017-10-01.

**Indice:** créer deux vecteur avec les valeurs des prix. Vous pouvez importer les données à partir de [finance yahoo](https://ca.finance.yahoo.com/) dans la section _Historical Data_ avec les dates et périodes indiquées ci-haut.

In [2]:
path<-"https://raw.githubusercontent.com/nmeraihi/data/master/"

In [170]:
df_app <-read.csv(paste(path,"AAPL_month.csv",sep = ""), header = T)

In [176]:
df_ba <-read.csv(paste(path,"BA_month.csv",sep = ""), header = T)

In [179]:
a<-cbind(df_app$Adj.Close,df_ba$Adj.Close)

In [180]:
colnames(a)<-c("Apple", "Boeing")

In [181]:
rownames(a)<-seq(as.Date("2016/11/1"), by = "month", length.out = 12)

In [182]:
cor(a)

       Apple    Boeing
Apple  1.000000 0.872264
Boeing 0.872264 1.000000

# Question 4

Créer un _data frame_ avec les données [HackerRank-Developer-Survey](https://raw.githubusercontent.com/nmeraihi/data/master/HackerRank-Developer-Survey-2018-Values.csv). Dans ces données, sont une série de réponse que les développeurs de [HackerRank](https://www.hackerrank.com/) ont répondu suite à un sondage ayant pour but de comprendre les l'intérêt des femmes envers l'informatique.

In [1]:
library(dplyr, warn.conflicts = F)

In [3]:
values <- read.csv(paste(path,"HackerRank-Developer-Survey-2018-Values.csv",sep = ""), header = T, stringsAsFactors = F)

In [4]:
head(values)

  RespondentID StartDate      EndDate        CountryNumeric2 q1AgeBeginCoding
1 6464453728   10/19/17 11:51 10/20/17 12:05 South Korea     16 - 20 years old
2 6478031510   10/26/17 6:18  10/26/17 7:49  Ukraine         16 - 20 years old
3 6464392829   10/19/17 10:44 10/19/17 10:56 Malaysia        11 - 15 years old
4 6481629912   10/27/17 1:51  10/27/17 2:05  Curaçao         11 - 15 years old
5 6488385057   10/31/17 11:46 10/31/17 11:59                 16 - 20 years old
6 6463843138   10/19/17 3:02  10/19/17 3:18  United States   41 - 50 years old
  q2Age             q3Gender q4Education                         q0004_other
1 18 - 24 years old Female   Some college
2 25 - 34 years old Male     Post graduate degree (Masters, PhD)
3 12 - 18 years old Female   Some college
4 12 - 18 years old Male     College graduate
5 25 - 34 years old Female   College graduate
6 35 - 44 years old Male     College graduate
  q5DegreeFocus                                       ⋯ q30LearnCodeOther
1 Computer Science                                    ⋯ Other (please specify)
2 Other STEM (science, technology, engineering, math) ⋯
3 Other STEM (science, technology, engineering, math) ⋯
4 Computer Science                                    ⋯
5                                                     ⋯ Other (please specify)
6 Computer Science                                    ⋯ Other (please specify)
  q0030_other                        q31Level3  q32RecommendHackerRank
1 datacamp                           num%2 == 0 Yes
2                                    num%2 == 0 Yes
3                                    num%2 == 0 Yes
4                                    num%2 == 0 Yes
5 Blogs/articles by industry leaders num%2 == 0 Yes
6 SoloLearn                          num%2 == 0 Yes
  q0032_other q33HackerRankChallforJob q34PositiveExp
1             No                       NA
2             No                       NA
3             No                       NA
4             No                       NA
5             No                       NA
6             No                       NA
  q34IdealLengHackerRankTest q0035_other q36Level4
1 #NULL!                                 Queue
2 #NULL!                                 Queue
3 #NULL!                                 Queue
4 #NULL!                                 Hashmap
5 #NULL!                                 Hashmap
6 #NULL!                                 Queue