# Introduction

Comme dans `R`, `Python` est une calculatrice. Plus de détails [ici](http://nour.me/)

In [3]:
3/5

0.6

exposant: **

In [4]:
4**5

1024

Utiliser des fonction math avec la biblio `math`

In [6]:
import math

In [8]:
math.sqrt(16)

4.0

In [9]:
from math import sqrt

In [10]:
sqrt(36)

6.0

In [11]:
A_plus=90

In [12]:
A_plus

90

In [13]:
#ceci est un commentaire
print(A_plus)

90

In [15]:
bonus=5

In [16]:
bonus+A_plus

95

In [17]:
print("Bonjour")

Bonjour

In [21]:
print("Bonjour"+ 
      "\nMadame")

Bonjour
Madame

[lien](nour.me)

![image]()

![]()

In [22]:
villes=["Montréal", "Laval", "Québec"]

In [23]:
villes

['Montréal', 'Laval', 'Québec']

In [24]:
villes[1]

'Laval'

In [29]:
list(range(13))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [33]:
ceci=list(range(1,14))
ceci

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [31]:
nquoi=["Bonjour", 1000, "fois"]

In [32]:
nquoi

['Bonjour', 1000, 'fois']

In [34]:
len(ceci)

13

In [35]:
print(villes)

['Montréal', 'Laval', 'Québec']

In [36]:
for i in villes:
    print(i)

Montréal
Laval
Québec

In [37]:
for i in villes:
    print("J'habite "+i)

J'habite Montréal
J'habite Laval
J'habite Québec

In [40]:
for ville in villes:
    print("J'habite "+ville)

J'habite Montréal
J'habite Laval
J'habite Québec

In [51]:
for i in range(3,7):
    print(i, "divisé par ", 13, "egale a ",i/13)

3 divisé par  13 egale a  0.23076923076923078
4 divisé par  13 egale a  0.3076923076923077
5 divisé par  13 egale a  0.38461538461538464
6 divisé par  13 egale a  0.46153846153846156

In [54]:
villes

['Montréal', 'Laval', 'Québec']

In [56]:
villes[0:2]

['Montréal', 'Laval']

In [57]:
for ville in villes[0:2]:
    print(ville)

Montréal
Laval

In [58]:
1==2

False

In [59]:
1!=2

True

In [60]:
2>1

True

In [61]:
[1,2,3]==[1,3,3]

False

In [62]:
monDiction={"marie":22, "Colette":66}

In [63]:
monDiction["marie"]

22

In [64]:
len(monDiction)

2

In [66]:
def adiotionner(x,y):
    """Cette fonction adition deux élem"""
    reponse=x+y
    return reponse

In [67]:
adiotionner(x=5, y=19)

24

# Vecteur dans Python

In [69]:
import numpy as np

In [71]:
maliste=[1,2,3,4,5,6]

In [73]:
maliste_vec=np.array(maliste)

In [74]:
maliste_vec/3

array([ 0.33333333,  0.66666667,  1.        ,  1.33333333,  1.66666667,  2.        ])

In [76]:
monvec_2=np.array(range(3))

In [78]:
liste_de_vec=[maliste_vec, monvec_2]

In [80]:
vec_de_vec=np.array(liste_de_vec)

In [83]:
np.zeros(5)

array([ 0.,  0.,  0.,  0.,  0.])

In [84]:
np.ones(5)

array([ 1.,  1.,  1.,  1.,  1.])

In [85]:
np.empty(5)

array([ 0.,  0.,  0.,  0.,  0.])

In [91]:
matrice_id=np.eye(5)
matrice_id

array([[ 1.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  1.]])

In [92]:
np.diag(matrice_id)

array([ 1.,  1.,  1.,  1.,  1.])

In [94]:
list(range(13))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [95]:
np.arange(13)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [96]:
np.arange(5,55,10)

array([ 5, 15, 25, 35, 45])

In [99]:
vecteur=np.arange(1,18)

In [100]:
vecteur

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17])

Si je veux mon 8eme element, je dois l'inclure donc 7

In [104]:
vecteur[7]

8

In [105]:
vecteur[8:11]

array([ 9, 10, 11])

In [106]:
vecteur[8]=88888

In [107]:
vecteur

array([    1,     2,     3,     4,     5,     6,     7,     8, 88888,
          10,    11,    12,    13,    14,    15,    16,    17])

In [120]:
vecteur_2d=np.zeros((12,10))
# vecteur_2d

In [116]:
vecteur_2d.shape

(12, 10)

si je veux le nb de lignes

In [118]:
vecteur_2d.shape[0]

12

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

In [127]:
for i in range(vecteur_2d.shape[0]):
    vecteur_2d[i]=i+1

In [128]:
vecteur_2d

array([[  1.,   1.,   1.,   1.,   1.,   1.,   1.,   1.,   1.,   1.],
       [  2.,   2.,   2.,   2.,   2.,   2.,   2.,   2.,   2.,   2.],
       [  3.,   3.,   3.,   3.,   3.,   3.,   3.,   3.,   3.,   3.],
       [  4.,   4.,   4.,   4.,   4.,   4.,   4.,   4.,   4.,   4.],
       [  5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.],
       [  6.,   6.,   6.,   6.,   6.,   6.,   6.,   6.,   6.,   6.],
       [  7.,   7.,   7.,   7.,   7.,   7.,   7.,   7.,   7.,   7.],
       [  8.,   8.,   8.,   8.,   8.,   8.,   8.,   8.,   8.,   8.],
       [  9.,   9.,   9.,   9.,   9.,   9.,   9.,   9.,   9.,   9.],
       [ 10.,  10.,  10.,  10.,  10.,  10.,  10.,  10.,  10.,  10.],
       [ 11.,  11.,  11.,  11.,  11.,  11.,  11.,  11.,  11.,  11.],
       [ 12.,  12.,  12.,  12.,  12.,  12.,  12.,  12.,  12.,  12.]])

In [131]:
vecteur_2d[0][0]

1.0

In [133]:
np.arange(50)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [134]:
np.arange(50).reshape(10,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49]])

In [135]:
np.arange(50).reshape(10,5).T

array([[ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45],
       [ 1,  6, 11, 16, 21, 26, 31, 36, 41, 46],
       [ 2,  7, 12, 17, 22, 27, 32, 37, 42, 47],
       [ 3,  8, 13, 18, 23, 28, 33, 38, 43, 48],
       [ 4,  9, 14, 19, 24, 29, 34, 39, 44, 49]])

In [143]:
A=np.random.randn(10)
A

array([-1.0856306 ,  0.99734545,  0.2829785 , -1.50629471, -0.57860025,
        1.65143654, -2.42667924, -0.42891263,  1.26593626, -0.8667404 ])

In [147]:
seed=123
np.random.seed(seed)
B=np.random.randn(10)
B

array([-1.0856306 ,  0.99734545,  0.2829785 , -1.50629471, -0.57860025,
        1.65143654, -2.42667924, -0.42891263,  1.26593626, -0.8667404 ])

In [140]:
np.maximum(A, B)

array([ 0.62670414,  1.88369206,  2.01654649,  1.19172531, -1.95282189,
        0.41895111,  0.73898517,  0.85169077, -1.07775898,  0.45188829])

Vous pouvez voir le [lien suivant](https://docs.scipy.org/doc/numpy-1.13.0/reference/routines.math.html) pour toutes les fonctions de Numpy

In [149]:
np.random.uniform(0,1,size=25)

array([ 0.0596779 ,  0.39804426,  0.73799541,  0.18249173,  0.17545176,
        0.53155137,  0.53182759,  0.63440096,  0.84943179,  0.72445532,
        0.61102351,  0.72244338,  0.32295891,  0.36178866,  0.22826323,
        0.29371405,  0.63097612,  0.09210494,  0.43370117,  0.43086276,
        0.4936851 ,  0.42583029,  0.31226122,  0.42635131,  0.89338916])

In [151]:
X=["test", "Train", "test", "Validate"]

In [152]:
np.unique(X)

array(['Train', 'Validate', 'test'],
      dtype='<U8')

# Pandas

In [153]:
import pandas as pd

In [154]:
mesDonnCop=pd.read_clipboard()

In [155]:
mesDonnCop

            Date    Open    High     Low  Close*  Adj Close**      Volume
0  Apr. 03, 2019  193.25  196.50  193.16  196.07       196.07  10,732,573
1  Apr. 02, 2019  191.09  194.46  191.05  194.02       194.02  22,732,600
2  Apr. 01, 2019  191.64  191.68  188.38  191.24       191.24  27,862,000
3  Mar. 29, 2019  189.83  190.08  188.54  189.95       189.95  23,564,000
4  Mar. 28, 2019  188.95  189.56  187.53  188.72       188.72  20,780,400
5  Mar. 27, 2019  188.75  189.76  186.55  188.47       188.47  29,848,400
6  Mar. 26, 2019  191.66  192.88  184.58  186.79       186.79  49,800,500
7  Mar. 25, 2019  191.51  191.98  186.60  188.74       188.74  43,845,300
8  Mar. 22, 2019  195.34  197.69  190.78  191.05       191.05  42,407,700

In [157]:
mesDonneComple=pd.read_csv("AAPL.csv")

In [158]:
mesDonneComple.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-03-04,175.690002,177.750000,173.970001,175.850006,175.850006,27436200
1,2019-03-05,175.940002,176.000000,174.539993,175.529999,175.529999,19737400
2,2019-03-06,174.669998,175.490005,173.940002,174.520004,174.520004,20810400
3,2019-03-07,173.869995,174.440002,172.020004,172.500000,172.500000,24796400
4,2019-03-08,170.320007,173.070007,169.500000,172.910004,172.910004,23999400

In [159]:
mesDonneComple.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
18,2019-03-28,188.949997,189.559998,187.529999,188.720001,188.720001,20780400
19,2019-03-29,189.830002,190.080002,188.539993,189.949997,189.949997,23564000
20,2019-04-01,191.639999,191.679993,188.380005,191.240005,191.240005,27862000
21,2019-04-02,191.089996,194.460007,191.050003,194.020004,194.020004,22732600
22,2019-04-03,193.250000,196.500000,193.160004,196.059998,196.059998,10736807

In [160]:
mesDonneComple.shape

(23, 7)

In [162]:
mesDonneComple.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [171]:
mesDonneComple

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-03-04,175.690002,177.750000,173.970001,175.850006,175.850006,27436200
1,2019-03-05,175.940002,176.000000,174.539993,175.529999,175.529999,19737400
2,2019-03-06,174.669998,175.490005,173.940002,174.520004,174.520004,20810400
3,2019-03-07,173.869995,174.440002,172.020004,172.500000,172.500000,24796400
4,2019-03-08,170.320007,173.070007,169.500000,172.910004,172.910004,23999400
5,2019-03-11,175.490005,179.119995,175.350006,178.899994,178.899994,32011000
6,2019-03-12,180.000000,182.669998,179.369995,180.910004,180.910004,32467600
7,2019-03-13,182.250000,183.300003,180.919998,181.710007,181.710007,31032500
8,2019-03-14,183.899994,184.100006,182.559998,183.729996,183.729996,23579500
9,2019-03-15,184.850006,187.330002,183.740005,186.119995,186.119995,39042900
10,2019-03-18,185.800003,188.389999,185.789993,188.020004,188.020004,26219800
11,2019-03-19,188.350006,188.990005,185.919998,186.529999,186.529999,31646400
12,2019-03-20,186.229996,189.490005,184.729996,188.160004,188.160004,31035200
13,2019-03-21,190.020004,196.330002,189.809998,195.089996,195.089996,51034200
14,2019-03-22,195.339996,197.690002,190.779999,191.050003,191.050003,42407700
15,2019-03-25,191.509995,191.979996,186.600006,188.740005,188.740005,43845300
16,2019-03-26,191.660004,192.880005,184.580002,186.789993,186.789993,49800500
17,2019-03-27,188.750000,189.759995,186.550003,188.470001,188.470001,29848400
18,2019-03-28,188.949997,189.559998,187.529999,188.720001,188.720001,20780400
19,2019-03-29,189.830002,190.080002,188.539993,189.949997,189.949997,23564000
20,2019-04-01,191.639999,191.679993,188.380005,191.240005,191.240005,27862000
21,2019-04-02,191.089996,194.460007,191.050003,194.020004,194.020004,22732600
22,2019-04-03,193.250000,196.500000,193.160004,196.059998,196.059998,10736807