In [3]:
options(repr.matrix.max.cols=8, repr.matrix.max.rows=5)

In [28]:
library(dplyr, warn.conflicts = F)

In [4]:
path<-"https://raw.githubusercontent.com/nmeraihi/data/master/"

# Question 4

Créer un _data frame_ avec les données [HackerRank-Developer-Survey](https://raw.githubusercontent.com/nmeraihi/data/master/HackerRank-Developer-Survey-2018-Values.csv). Dans ces données, vous trouvez une série de réponses que les développeurs de [HackerRank](https://www.hackerrank.com/) ont répondues suite à un sondage ayant pour but de comprendre les l'intérêts des femmes envers la programmation informatique.

In [52]:
# ...

In [36]:
head(values)

  RespondentID StartDate      EndDate        CountryNumeric2 ⋯ q34PositiveExp
1 6464453728   10/19/17 11:51 10/20/17 12:05 South Korea     ⋯ NA
2 6478031510   10/26/17 6:18  10/26/17 7:49  Ukraine         ⋯ NA
3 6464392829   10/19/17 10:44 10/19/17 10:56 Malaysia        ⋯ NA
⋮ ⋮            ⋮              ⋮              ⋮               ⋱ ⋮
5 6488385057   10/31/17 11:46 10/31/17 11:59                 ⋯ NA
6 6463843138   10/19/17 3:02  10/19/17 3:18  United States   ⋯ NA
  q34IdealLengHackerRankTest q0035_other q36Level4
1 #NULL!                                 Queue
2 #NULL!                                 Queue
3 #NULL!                                 Queue
⋮ ⋮                          ⋮           ⋮
5 #NULL!                                 Hashmap
6 #NULL!                                 Queue

## a)

En utilisant le package `dplyr`, faites un petit tableau qui donne la proportion des hommes et des femmes dans ce _dataset_. 

Utilisez la variable `q3Gender`

In [38]:
# ...

In [39]:
# ...

In [40]:
values_2

  q3Gender n
1 Female   16.55688
2 Male     83.44312

## b)

En utilisant  le package `dplyr`, faites un tableau qui donne la proportion des hommes et des femmes en les séparant par le fait qu'ils soient étudiants ou non. 

Utilisez les variables `q3Gender`, `is_student` et `q8Student`

In [41]:
# ...

In [42]:
# ...

  q3Gender is_student n
1 Female   No         20.82685
2 Female   Yes        13.55364
3 Male     No         79.17315
4 Male     Yes        86.44636

## c)

Dresser un tableau qui donne le nombre de répondants par pays (utilisez la variable `CountryNumeric2`)

In [43]:
# ...

  CountryNumeric2 n
1                 3991
2 Afghanistan        3
3 Albania            8
⋮ ⋮               ⋮
5 American Samoa  1
6 Andorra         1

## d)

Faites un tableau qui donne le nombre de répondants en les classant par le diplôme obtenu. 

Utilisez la variable `q4Education`

In [44]:
# ...

  q4Education                         Total
1 College graduate                    12010
2 Post graduate degree (Masters, PhD)  6030
3 Some college                         2499
⋮ ⋮                                   ⋮
7 #NULL!                              305
8 Vocational training (like bootcamp) 148

## e)

Faites un tableau qui donne le nombre de développeurs par catégorie d'âge.

Utilisez la variable `q1AgeBeginCoding`

In [45]:
# ...

   q1AgeBeginCoding   Total
1  16 - 20 years old  14293
2  11 - 15 years old   5264
3  21 - 25 years old   3626
⋮  ⋮                  ⋮
9  #NULL!             30
10 50+ years or older  8